@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Presentation';
}
body {
    background: #fff;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
:root {
    --containerSize: 1440px;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
}
.headerInner {
    width: var(--containerSize);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 250px;
    height: 100%;
}
.gnbContainer {
    width: 20%;
    height: 100%;
    font-weight: 600;
    font-size: 20px;
}
.gnb {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.util {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
}
main {
    height: 100vh;
}
.visual {
    width: 100%;
    height: 600px;
    background: red;
    display: flex;
    justify-content: center;
    position: relative;
}
.visual > img {
    width: 100%;
}
.visual > h1 {
    width: 100%;
    height: 100%;
    position: absolute;
    align-content: center;
    text-align: center;
    align-content: center;
    font-size: 60px;
    background: rgba(255, 255, 255, 0.5);
}