@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Presentation';
}
body {
    background: #fff;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
:root {
    --containerSize: 1440px;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
}
.headerInner {
    width: var(--containerSize);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 250px;
    height: 100%;
} 
.moblieLogo {
    display: none;
}
.gnbContainer {
    width: 20%;
    height: 100%;
    font-weight: 600;
    font-size: 22px;
}
.gnbInner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gnb {
    position: relative;
    height: 100%;
    align-content: center;
    cursor: pointer;
}
.gnb::before {
    width: 100%;
    height: 0px;
    background: #111;
    border-radius: 5px;
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: .3s;
}
.gnb:hover::before {
    height: 3px;
    transition: .3s;
}
.util {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
}
.hambugerNav {
    display: none;
}
.visual {
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    position: relative;
    background: #ffffff;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(169, 200, 212, 1) 35%, rgba(0, 92, 117, 1) 100%);
}
.visual > img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 43%;
    right: 21%;
}
.visual > img:nth-child(2) {
    right: 9%;
    top: 28%;
    transform: rotate(15deg);
}
.visual > img:nth-child(3) {
    right: 21%;
    top: 70%;
    transform: rotate(33deg);
}
.visual >img:nth-child(4) {
    right: 10%;
    top: 60%;
    transform: rotate(165deg);
}
.visual > img:nth-child(5) {
    right: 21%;
    top: 16%;
    transform: rotate(145deg);
}
.visual > .visualText {
    width: var(--containerSize);
    height: 100%;
    position: absolute;
    align-content: center;
    text-align: start;
    align-content: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.line {
    width: 30%;
    height: 5px;
    background: #fff;
    border-radius: 10px;
}
.visual > .visualText > h1 {
    font-size: 60px;
}
.visual > .visualText > h1:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.visual > .scrollText {
    width: 10%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    color: #fff;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.scrollText > h3 {
    animation: updown 3s infinite;
}
@keyframes updown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
.scrollText > div {
    width: 5px;
    height: 50px;
    background: #aaa;
    position: relative;
}
.scrollText > div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    background: #fff;
    animation: sc 3s infinite;
}
@keyframes sc {
    0% {
        top: 0;
    }
    50% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}
.partIntroContainer {
  position: relative;
  height: 600vh;
  background: url(./assets/img/introBg.jpg) no-repeat center center;
  background-size: cover; /* 전체 영역에 맞게 이미지 늘리기 */
  background-attachment: fixed; /* 스크롤 시 배경 고정 */
  color: #fff;
}
.partIntroContainer > div {
  opacity: 0;
  transition: opacity 0.4s ease;
  text-align: center;
  /* height: 150vh; */
  width: 100%;
}
.partIntroContainer h1 {
  font-size: 3rem;
  line-height: 1.4;
  width: 100%;
  height: 100%;
}
/* .intro1Img1 {
    width: 300px;
    position: absolute;
    left: 15%;
    transform: rotate(330deg);
    display: block;
}
.intro1Img2 {
    width: 300px;
    position: absolute;
    bottom: 10%;
    right: 15%;
    transform: rotate(30deg);
} */
@media (max-width: 480px) {
    :root {
        --containerSize: 400px;
    }
    header {
        width: 100%;
        height: 50px;
    }
    .headerInner {
        width: var(--containerSize);
    }
    .logo {
        display: none;
    }
    .moblieLogo {
        width: 150px;
        height: 100%;
        display: block;
    }
    .moblieLogo > img {
        width: 100%;
    }
    .gnbContainer {
        display: none;
    }
    .util {
        width: 40%;
        height: 100%;
        font-size: 15px;
        justify-content: end;
        gap: 10px;
    }
    .hambugerNav {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hambugerNav > i {
        font-size: 20px;
    }
    .hambugerGnbContainer {
        width: 60%;
        height: 100%;
        background: #fff;
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        z-index: 1000;
    }
    .closeBtn {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 50px;
    }
    .closeBtn > i {
        font-size: 20px;
    }
    .hambugerGnb {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 20px;
        padding-left: 20px;
        gap: 30px;
    }
    .visual {
        height: 300px;
    }
    .visual > img {
        aspect-ratio: 4/3;
    }
    .visual > h1 {
        font-size: 30px;
        padding: 50px;
        text-align: center;
    }
}