@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Presentation';
}
body {
    background: #fff;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
:root {
    --containerSize: 1440px;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
}
.headerInner {
    width: var(--containerSize);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 250px;
    height: 100%;
} 
.moblieLogo {
    display: none;
}
.gnbContainer {
    width: 20%;
    height: 100%;
    font-weight: 600;
    font-size: 22px;
}
.gnbInner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gnb {
    position: relative;
    height: 100%;
    align-content: center;
    cursor: pointer;
}
.gnb::before {
    width: 100%;
    height: 0px;
    background: #111;
    border-radius: 5px;
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: .3s;
}
.gnb:hover::before {
    height: 3px;
    transition: .3s;
}
.util {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
}
.hambugerNav {
    display: none;
}
.visual {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    position: relative;
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(124, 158, 79, 1) 100%);
    background: #ffffff;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(169, 200, 212, 1) 35%, rgba(0, 92, 117, 1) 100%);
}
.visual > img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 43%;
    right: 20%;
}
.visual > img:nth-child(2) {
    right: 9%;
    top: 28%;
    transform: rotate(80deg);
}
.visual > img:nth-child(3) {
    right: 20%;
    top: 70%;
    transform: rotate(325deg);
}
.visual >img:nth-child(4) {
    right: 10%;
    top: 60%;
    transform: rotate(165deg);
}
.visual > img:nth-child(5) {
    right: 21%;
    top: 16%;
    transform: rotate(145deg);
}
.visual > div {
    width: var(--containerSize);
    height: 100%;
    position: absolute;
    align-content: center;
    text-align: start;
    align-content: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.line {
    width: 30%;
    height: 2px;
    background: #fff;
}
.visual > div > h1 {
    font-size: 60px;
}
.visual > div > h1:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.partIntroContainer {

}
@media (max-width: 480px) {
    :root {
        --containerSize: 400px;
    }
    header {
        width: 100%;
        height: 50px;
    }
    .headerInner {
        width: var(--containerSize);
    }
    .logo {
        display: none;
    }
    .moblieLogo {
        width: 150px;
        height: 100%;
        display: block;
    }
    .moblieLogo > img {
        width: 100%;
    }
    .gnbContainer {
        display: none;
    }
    .util {
        width: 40%;
        height: 100%;
        font-size: 15px;
        justify-content: end;
        gap: 10px;
    }
    .hambugerNav {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hambugerNav > i {
        font-size: 20px;
    }
    .hambugerGnbContainer {
        width: 60%;
        height: 100%;
        background: #fff;
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        z-index: 1000;
    }
    .closeBtn {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 50px;
    }
    .closeBtn > i {
        font-size: 20px;
    }
    .hambugerGnb {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 20px;
        padding-left: 20px;
        gap: 30px;
    }
    .visual {
        height: 300px;
    }
    .visual > img {
        aspect-ratio: 4/3;
    }
    .visual > h1 {
        font-size: 30px;
        padding: 50px;
        text-align: center;
    }
}