@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Presentation';
}
body {
    background: #fff;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
:root {
    --containerSize: 1440px;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background: #fff;
}
.headerInner {
    width: var(--containerSize);
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.gameTitle {
    width: 50%;
    height: 100%;
    align-content: center;
}
.userAbout {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    color:#111;
}
.profileContainer > .user {
    display: none;
}
.coin, .seeRank {
    width: 80px;
    height: 100%;
    /* background: #eee; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 5px;
}
.profileContainer {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #eee; */
}
.profile {
    display: flex;
    gap: 5px;
    position: relative;
}
.gameContainer {
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(169, 200, 212, 1) 35%, rgba(0, 92, 117, 1) 100%); */
}
.gameContainer > h1 {
    width: var(--containerSize);
    height: 9vh;
    text-align: start;
    align-content: center;
}
.gameInner {
    width: var(--containerSize);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.gameInner > h2 {
    height: 5vh;
}
.games {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game {
    width: 450px;
    height: 45vh;
    /* border: 1px solid red; */
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px #eee,
                0 0 40px #ddd;
}
.unlock {
    background: #aaa;
}
.unlock button {
    background: #444 !important;
    cursor: default !important;
}
.game > .stage {
    width: 100%;
    height: 50px;
    text-align: center;
    align-content: center;
}
.category {
    width: 100%;
    display: flex;
    justify-content: center;
}
.gameImgs {
    width: 100%;
    height: 25vh;
    /* background: red; */
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.gameImgs > li {
    width: calc(100% / 4 - 15px);
    height: 90px;
    background: #eee;
    border-radius: 5px;
}
.gameStartBtnContainer {
    width: 100%;
    height: 8vh;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameStartBtnContainer > button {
    width: 100%;
    height: 60%;
    background: #111;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.profile:hover {
    cursor: pointer;
}
.profileContainer .user {
  display: none;
  position: absolute;
  top: 70px;
  width: 150px;
  height: 100px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
.profileContainer .user li {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    gap: 5px;
    cursor: pointer;
}
.profileContainer .user li:hover, 
.profileContainer .user div:hover {
  background: #f5f5f5;
}
.profileContainer.active .user {
  display: flex;
}